*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Exo 2", serif;
    font-size: 15px;
}

body{
    background-color: var(--Cor-Fundo);
}
a{
    color: var(--Fontes-Cor);
    text-decoration: none;
}

.text-verMais2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 500;
  }
.verMais2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    background-color: var(--login-Color);
    border-radius: 5px;
  }

.division4, .division6{
    width: 255px;
    height: 3px;
    margin-top: 3px;
    border-radius: 30px;
    background-color: var(--login-Color);
    margin-bottom: 20px;
}
.division6{
    width: 150px;
    margin: 6px 0;
}
  .space-line{
    width: 87%;
    height: 1px;
    margin: 30px auto;
    background-color: var(--login-Color);
}
.space-line2{
    margin-top: 60px;
}

.NomeSecoes2 h2{
    color: var(--login-Color);
    font-weight: 700;
    font-size: 2.2em;
}
.NomeSecoes2 p a{
    font-size: 1.5em;
    font-weight: 700;
    transition: 0.5s;
}
.NomeSecoes2 p a:hover{
    color: #65c758;
}


.return-button{
    display: none;
    width: 50px;
    height: 50px;
    background-color: var(--Componentes-Cor);
    position: fixed;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    border: none;
    border: 2px solid var(--Fontes-Cor);
    cursor: pointer;
    pointer-events: initial;
    transform: rotate(-90deg);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.return-button p {
    font-size: 3em;
    font-weight: 700;
    margin-top: -25px;
    color: var(--Fontes-Cor);
}

.return-button.show {
    display: block;
    opacity: 1;
  }

  .lazy-component {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .lazy-component.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }


@media (max-width: 500px) {
    .NomeSecoes2 h2{
        font-size: 130%;
    }
}
